body {
 background-color:#383838;
}

#webgl{
 border:solid 5px rgb(87, 87, 87);
 border-radius: 5px;
 background-color:white;
}

#score{
    text-align: center;
    font-size: 30px;
}

.rouge{
    color: #FF0000;
}

.bleu{
    color:#0000FF;
}